<div class="login-container">
    <div class="part-container logo-container">
        <img src="assets/logoupR.png" alt="Up">
    </div>
    <div class="part-container right-container">
        <div class="form-container">
            <div class="title-container">
                <span class="s1">UP</span>
                <span class="s2">Bank</span>
            </div>
            <form [formGroup]="form">  
                    <app-input
                        [label]="'Email'"
                        [type]="'text'"
                        formControlName="strEmail"
                    />
                    <app-input
                        [label]="'Password'"
                        [type]="'password'"
                        formControlName="strPassword"
                    />
            </form>
            <div class="register-link">
                <a>New here? </a>
                <a class="link" routerLink="/register-user">Create an account</a>
            </div>
            <div class="button-container">
                <app-button
                    [text]="'Login'"
                    [status]="form.valid ? 'active' : 'inactive'"
                    (action)="login()"
                />
            </div>
        </div>
    </div>
</div>