<div *ngIf="type == 'text'" class="input-wrapper">
    <label>{{label}}</label>
    <div class="input-container">
        @if (icon != "") {
        <div class="icon">
            <img src="{{icon}}" alt="icon">
        </div>
        }
        <input required="" [(ngModel)]="value" autocomplete="off" autocorrect="off" placeholder="{{placeholder}}" type="text" (ngModelChange)="handleInputChange($event)" [disabled]="disabled">
    </div>
</div>

<div *ngIf="type == 'password'" class="input-wrapper">
    <label>{{label}}</label>
    <div class="input-container">
        <input [type]="isPasswordVisible ? 'text' : 'password'" required="" [(ngModel)]="value" autocomplete="off" autocorrect="off" placeholder="{{placeholder}}" (ngModelChange)="handleInputChange($event)">
        <div class="icon">
            <img (click)="togglePassword()" [src]="isPasswordVisible ? iconEye : iconEyeOff" alt="icon">
        </div>
    </div>
</div>

<div *ngIf="type === 'number'" class="input-wrapper">
  <label>{{ label }}</label>
  <div class="input-container with-symbol">
    <span class="symbol">$</span>
    <input
    type="text"
    [value]="value"
    (input)="enforceTwoDecimals($event)"
    autocomplete="off"
    autocorrect="off"
    [placeholder]="placeholder"
    [disabled]="disabled"
    />

  </div>
</div>

