<button type="button" [ngClass]="[type, status]" (click)="emitAction()" [disabled]="status === 'inactive'">
    @if(icon.trim()!= ""){
        <div class="icon">
            @switch (icon) {
                @case ('add') {
                    <img src="assets/eye.svg" alt="add-icon">
                }
                @case ('delete') {
                    <img src="assets/eyeOff.svg" alt="add-icon">
                }
            }
        </div>
    }
    <span>{{text}}</span>
</button>