<div class="menu-container">
  <app-header [user]="userName"></app-header>

  <div class="main-content">
    <div class="left-bar">
      <img class="corner-logo" src="assets/logoupR.png" alt="Up" />
    </div>
    <div class="table-container">
      <div class="title-container">
          <span class="s1">Users</span>
      </div>
      <div *ngFor="let user of users" class="table-row item-container">
        <div class="name">
          <div class="square"></div>
          {{ user.text }}
        </div>
         <div class="toggle-switch">
          <label class="switch">
            <input
              type="checkbox"
              [checked]="user.status"
              (change)="toggleUserBlockedStatus(user)"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
