$grey: #7d7d831a;
$red: #79332f;
$gold: #c8a977;
$blue: #002d75;
$white: #ffffff;
$light-gold: #F5F0E6;

.header-container {
    background-color: $light-gold;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    font-family: "Lexend", sans-serif;
}

.title-container {
    font-size: 50px;
    font-weight: bold;
    .s1 {
        color: $gold;
    }

    .s2 {
        color: $red;
    }
}