$grey: #7d7d831a;
$red: #79332f;
$gold: #c8a977;
$blue: #002d75;
$white: #ffffff;
$light-gold: #F5F0E6;

.menu-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    background-color: $red;
}

.left-bar {
    width: 170px;
    background-color: $gold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner-logo {
    width: 160px;
    height: auto;
}

.table-container {
    flex: 1;   
    padding: 10px;
    margin: 40px 100px;
    background-color: $light-gold;
    border: 2px solid $gold;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    overflow: hidden;
    padding: 35px 60px;
}

.table-body {
  overflow-y: auto;
  max-height: 500px;
  padding-right: 10px;
}

.square {
    width: 12px;
    height: 35px;
    border-radius: 15px;
    background-color: $red;
}

.item1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item-container {
    border: 2px solid $gold;
    border-radius: 10px;
    background-color: $light-gold;
    font-family: "Lexend", sans-serif;
    color: $gold;
}

.table-row {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 20fr 10fr;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.logout {
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 340px;
    padding-right: 15px;
    overflow-y: auto;

    &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $light-gold;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gold;
    border-radius: 10px;
    border: 2px solid $light-gold
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $gold;
  }
}

.title-container {
    font-size: 50px;
    font-weight: bold;
    border: 2px solid $gold;
    border-radius: 12px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    display: flex;
    justify-content: space-between;
    font-family: "Lexend", sans-serif;
}

.table-row > div {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
}

.s1 {
    color: $gold;
}

.s2 {
    color: $red;
}